.main-page {
  display: flex;
  /* margin-left: auto;
  margin-right: auto; */
  
  justify-content: center;
}
.main-page-padding {

  /* padding: 72px; */
  /* clear: both; */
  /* width: 1000px; */
}

html {
  box-sizing: border-box;
}

.floating-booking {
  float: left;
  margin-left: 50px;
  position: sticky;
  top: 20px;
  /* display: block; */
}