.main-page {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

html {
  box-sizing: border-box;
}

.booking-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.floating-booking {
  float: left;
  margin-left: 50px;
  position: sticky;
  top: 20px;
  z-index: 300;
  /* display: block; */
}


@media only screen and (max-width: 744px) {
  .main-page {
    flex-direction: column;
    align-items: center;
  }
}